<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navegador">
  <div class="container-fluid navegador navegador">
    <a class="navbar-brand m-0 ms-2 p-0">AL´S TOY BARN</a>

    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse me-2" id="navbarRightAlignExample">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="super-game" class="nav-link colores-header" href="#super-game">
            <i class="fas fa-trophy colores-header">&nbsp;</i>  Servicios
          </a>
        </li>
        <li class="nav-item">
          <a id="about-us" class="nav-link colores-header" href="#sobre-nosotros">
            <i class="fas fa-star colores-header">&nbsp;</i>  Sobre Nosotros
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>